<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :who_moves, style: "display: block" %>
    <%= form.text_field :who_moves %>
  </div>

  <div>
    <%= form.label :fen, style: "display: block" %>
    <%= form.text_field :fen %>
  </div>

  <div>
    <%= form.label :player_black_id, style: "display: block" %>
    <%= form.text_field :player_black_id %>
  </div>

  <div>
    <%= form.label :player_white_id, style: "display: block" %>
    <%= form.text_field :player_white_id %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
