<div id="<%= dom_id game %>">
  <p>
    <strong>Game:</strong>
    <%= game.game_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= game.start_date %>
  </p>

  <p>
    <strong>Who moves:</strong>
    <%= game.who_moves %>
  </p>

  <p>
    <strong>Fen:</strong>
    <%= game.fen %>
  </p>

  <p>
    <strong>Player black:</strong>
    <%= game.player_black_id %>
  </p>

  <p>
    <strong>Player white:</strong>
    <%= game.player_white_id %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= game.end_date %>
  </p>

</div>
