<div id="<%= dom_id player %>">
  <p>

    <strong><%= player.player_id %></strong>
    <strong>Email:</strong>
    <%= player.email %>
  </p>

  <p>
    <strong>Nazwa uzytkownika:</strong>
    <%= player.username %>
  </p>

  <p>
    <strong>Haslo:</strong>
    <%= player.password %>
  </p>


</div>
